/*** Colors, etc. for the Superfish menu ***/

.sf-menu {
}
.sf-menu * {
	font-size: 9px;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: #222;
	background-color: #EDEDED;
}
.sf-menu a:hover, .sf-menu a:active {
	color: #FFF;
	text-shadow: -1px -1px 0 #999;
	text-decoration: none;
	border-color: #425994;
	background-color: #8FA1CD;
}
.sf-menu a.top {
    border-radius: 0px 0px 4px 4px;
    border-right: 1px solid #BFBFBF;
    border-left: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    box-shadow: 0 1px 2px #DDD;
    margin-right: 5px;
}

.sf-menu a.top:hover {
    border-right-color: #425994;
    border-left-color: #425994;
    border-bottom-color: #425994;
}
.sf-menu ul {
    box-shadow: 0 1px 2px #DDD;
    border-radius: 6px;
    margin-left: -1px;
}
.sf-menu ul a {
	background-color: #EDEDED;
    border-top: 1px solid #BFBFBF;
    border-left: 1px solid #BFBFBF;
    border-right: 1px solid #BFBFBF;
    border-bottom: 1px solid #EDEDED;
}
.sf-menu ul li:first-child > a {
    border-radius: 0px 6px 0px 0px;
    margin-top: 0px;
}
.sf-menu ul li:last-child > a {
    border-radius: 0px 0px 6px 6px;
    border-bottom: 1px solid #BFBFBF;
}
.sf-menu ul li:last-child > a:hover,
.sf-menu ul li:last-child > a:active {
    border-bottom-color: #425994;
}


.sf-menu li {
}
.sf-menu li li {
}
.sf-menu li li li {
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
}

/*** arrows **/
.sf-sub-indicator {
	/*background:	url('/theme/Fo/img/arrows-ffffff.png') no-repeat -10px -100px;*/ /* 8-bit indexed alpha png. IE6 gets solid image only */
}
/*** shadows for all but IE6 ***/
.sf-shadow ul {
/*	background:	url('/img/shadow.png') no-repeat bottom right;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
 */
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}